In [3]:
import numpy as np
import pandas as pd

In [15]:
rawdata = open('SMSSpamCollection').read()

In [22]:
rawdata[0:500]

"ham\tGo until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...\nham\tOk lar... Joking wif u oni...\nspam\tFree entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's\nham\tU dun say so early hor... U c already then say...\nham\tNah I don't think he goes to usf, he lives around here though\nspam\tFreeMsg Hey there darling it's been 3 week's now and no word bac"

In [23]:
#parseed data: replace all '\t' with '\n' and then, split
#based on those \n and append into list

In [24]:
parseddata = rawdata.replace('\t','\n').split('\n')

In [26]:
parseddata[:5]

['ham',
 'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...',
 'ham',
 'Ok lar... Joking wif u oni...',
 'spam']

In [39]:
labellist = parseddata[0::2]
testlist = parseddata[1::2]

In [41]:
print(labellist[:5])
print(testlist[:5])

['ham', 'ham', 'spam', 'ham', 'ham']
['Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...', 'Ok lar... Joking wif u oni...', "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's", 'U dun say so early hor... U c already then say...', "Nah I don't think he goes to usf, he lives around here though"]

In [43]:
print(len(labellist))
print(len(testlist))

5575
5574

In [44]:
print(labellist[-5:])

['ham', 'ham', 'ham', 'ham', '']

In [46]:
fullcorpus = pd.DataFrame({
    'label':labellist[:-1],
    'body_list':testlist
})
fullcorpus.head()

                                           body_list label
0  Go until jurong point, crazy.. Available only ...   ham
1                      Ok lar... Joking wif u oni...   ham
2  Free entry in 2 a wkly comp to win FA Cup fina...  spam
3  U dun say so early hor... U c already then say...   ham
4  Nah I don't think he goes to usf, he lives aro...   ham

In [48]:
dataset = pd.read_csv('SMSSpamCollection',sep = '\t',header=None)

In [51]:
dataset.head()

      0                                                  1
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [53]:
dataset.columns = ['label','body_text']

In [54]:
dataset.head()

  label                                          body_text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [55]:
#Exploration

In [58]:
#1. Shape - 
print('data has {} rows and {} columns'.format(len(dataset),format(len(dataset.columns))))

data has 5572 rows and 2 columns

In [60]:
print('Out of {} rows, {} are spam and {} are ham.'.format(len(dataset),len(dataset[dataset['label']=='spam']),len(dataset[dataset['label']=='ham'])))

Out of 5572 rows, 747 are spam and 4825 are ham.

In [62]:
#find missing data
print('number of nulls in label : {}'.format(dataset['label'].isnull().sum()))
print('number of nulls in text : {}'.format(dataset['body_text'].isnull().sum()))

number of nulls in label : 0
number of nulls in text : 0